<!doctype html>
<html lang="en">

  <%- include('../partials/adminHeader.ejs') %>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script src="https://kit.fontawesome.com/0122127a2d.js" crossorigin="anonymous"></script>

<body>



  <%- include('../partials/adminHomeNav.ejs') %> 

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>



        <div class="values row justify-content-evenly">
          <div class="d-flex justify-content-center ">
            <div class="val-box col-md-3 d-flex justify-content-center">
              <i class="fas fa-2x fa-regular fa-users  fa-beat-fade p-3"></i>
              <div>
                <h3><%= usercount %></h3>
                <span>Total Users</span>
              </div>
            </div>
            <div class="val-box col-md-3 d-flex justify-content-center">
              <i class="fas fa-2x fa-regular fa-basket-shopping  fa-beat-fade p-3"></i>
              <div>
                <h3><%= productcount %></h3>
                <span>Total Products</span>
              </div>
            </div>
            <div class="val-box col-md-3 d-flex justify-content-center">
              <i class="fas fa-2x fa-regular fa-list-check  fa-beat-fade p-3"></i>
              <div>
                <h3><%= ordercount %></h3>
                <span>Total Orders</span>
              </div>
            </div>
            <div class="val-box col-md-3 d-flex justify-content-center">
              <i class="fas fa-2x fa-light fa-cash-register  fa-beat-fade p-3"></i>
              <div>
                <h3><%= totalamount %></h3>
                <span>Total Income</span>
              </div>
            </div>

          </div>
          
          <div class="row gap-2 justify-content-center p-2">
            <div class="col-md-7 mt-5 gbg" style="border-radius: 5px">
              <canvas id="ordersStatusChart" class="h-100"> </canvas>
            </div>
            <div class="col-md-4 mt-5 gbg" style="border-radius: 5px">
              <canvas id="Paystatus" class=""> </canvas>
            </div>
          </div>
        </div>
        <input type="hidden" id="pending" value="<%= pending %>" />
        <input type="hidden" id="completed" value="<%= completed %>" />
        <input type="hidden" id="delivered" value="<%= delivered %>" />
        <input type="hidden" id="cancelled" value="<%= cancelled %>" />
        <input type="hidden" id="cod" value="<%= cod %>" />
        <input type="hidden" id="online" value="<%= online %>" />
      </section>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        const ctx = document.getElementById("ordersStatusChart");
        const ctx1 = document.getElementById("Paystatus");
        const pending = Number(document.getElementById("pending").value);
        const completed = Number(document.getElementById("completed").value);
        const delivered = Number(document.getElementById("delivered").value);
        const cancelled = Number(document.getElementById("cancelled").value);
        const cod = Number(document.getElementById("cod").value);
        const online = Number(document.getElementById("online").value);
        new Chart(ctx, {
          type: "bar",
          data: {
            labels: ["Pending", "Delivered", "Cancelled", "Completed"],
            datasets: [
              {
                label: "No .of Orders",
                data: [pending, delivered, cancelled, completed],
                borderWidth: 2,
                backgroundColor: ["#BD000E" , "#BD000E", "#BD000E", "#BD000E"],
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
        new Chart(ctx1, {
          type: "pie",
          data: {
            labels: ["COD", "Online"],
            datasets: [
              {
                label: "No .of Orders",
                data: [cod, online],
                borderWidth: 2,
                backgroundColor: ["#DCAA00", "#04891E"],
              },
            ],
          },
          options: {},
        });
      </script>
        
        
      </main>
    </div>
  </div>


  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
  <script src="dashboard.js"></script>
</body>

</html>