<!DOCTYPE html>
<html lang="en">

<%- include('../partials/adminHeader.ejs') %>

    <body>

        <%- include('../partials/adminHomeNav.ejs') %>

            <div class="container col-md-10 ms-sm-auto me-lg-2 me-md-2 col-lg-10 px-md-4 py-3">
                <table id="tableForm" class="table">
                    <thead>
                        <tr>

                            <th scope="col">User Name</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Date of Order</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allData.forEach( data=> { %>
                            <tr>
                                <!-- <td>
                                    <%= data.userAddress.address %>                                        
                                </td> -->
                                <td>
                                    <%= data.order_id %>
                                </td>
                                <td>
                                    <%= data.order_placed_on %>
                                </td>
                                <td>
                                    Rs.<%= data.finalAmount %>
                                </td>
                                <td>
                                    <%= data.paymentMethod %>
                                </td>
                                <td>
                                    <%= data.paymentStatus %>
                                </td>
                                <td>
                                    <%= data.orderStatus %>
                                </td>

                                <td><a href="/admin/editCategory/<%= data._id %>" class="btn btn-secondary">Edit</a>
                                </td>

                                <td><a href="/admin/deleteCategory/<%= data._id %>" class=" btn btn-danger"
                                        onclick="return confirm('CLICK OK TO Remove')">Remove</a></td>

                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <td><a href="/admin/addCategory" class="btn btn-success">Add Category</a></td>
                        <td><a href="/admin/logout" class="btn btn-primary">Logout</a></td>
                    </tbody>
                </table>

                <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script type="text/javascript"
                    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript"
                    src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $('#tableForm').DataTable();
                    });
                </script>

                <!-- Section: Design Block -->
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
                    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
                    crossorigin="anonymous"></script>

            </div>


    </body>

</html>