<!DOCTYPE html>
<html lang="en">

<%- include('../partials/adminHeader.ejs') %>

    <body>

        <%- include('../partials/adminHomeNav.ejs') %>

            <div class="container col-md-10 ms-sm-auto me-lg-2 me-md-2 col-lg-10 px-md-4">
                <table id="tableForm" class="table">
                    <thead>
                        <tr>

                            <th scope="col">Product Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Cost</th>
                            <th scope="col">featured?</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Image</th>                            
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach( productsData=> { %>
                            <tr>
                                <td>
                                    <%= productsData.productName %>
                                </td>
                                <td>
                                    <%= productsData.productCategory %>
                                </td>
                                <td>
                                    <%= productsData.stock %>
                                </td>
                                <td>
                                    <%= productsData.cost %>
                                </td>
                                <% if (productsData.isFeatured===false) { %>
                                    <td><a href="/admin/isFeatured/<%= productsData._id %>" class=" btn btn-secondary"
                                            onclick="return confirm('Click OK to Feature the product')">Feature</a></td>
                                <% } else { %>
                                    <td><a href="/admin/notFeatured/<%= productsData._id %>" class=" btn btn-secondary"
                                            onclick="return confirm('Click OK not to Feature the product')">Don't Feature</a></td>
                                    <% } %>
                                <td>
                                    <%= productsData.dateCreated %>
                                </td>
                                <td>
                                    <%= productsData.image %>
                                </td>                               
                                <td><a href="/admin/editProduct/<%= productsData._id %>" class="btn btn-secondary">Edit</a>
                                </td>

                                <td><a href="/admin/deleteProduct/<%= productsData._id %>" class=" btn btn-danger"
                                        onclick="return confirm('CLICK OK TO REMOVE')">Remove</a>
                                </td>

                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <td><a href="/admin/addProduct" class="btn btn-success">Add Product</a></td>
                    </tbody>
                </table>

                <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script type="text/javascript"
                    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript"
                    src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $('#tableForm').DataTable();
                    });
                </script>

                <!-- Section: Design Block -->
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
                    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
                    crossorigin="anonymous"></script>

            </div>


    </body>

</html>