<!DOCTYPE html>
<html lang="en">

<%- include('../partials/loginSignupHeader.ejs') %>

    <body>

        <%- include('../partials/userNavbar.ejs') %>
            <%- include('../partials/offcanvas.ejs') %>


                <%- include('../partials/offcanvas.ejs') %>

                    <section class="wrapper">
                        <div class="container-fostrap mt-5 pt-5">
                            <div>
                                <h1 class="heading my-5">
                                    Action Figures
                                </h1>
                            </div>
                            <div class="content">
                                <div class="container">
                                    <div class="row justify-content-center ">
                                        <% actionFig.forEach( action=> { %>

                                            <div class="card col-xs-12 col-sm-3 mx-4 my-5 ">

                                                <a class="img-card"
                                                    href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                                    <img src="<%= action.image[0].url %> " />
                                                </a>
                                                <div class="card-content">
                                                    <h4 class="card-title text-center">
                                                        <a
                                                            href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                                            Rs.<%= action.cost %>
                                                        </a>
                                                        <i class="fa-regular fa-heart px-2"></i>
                                                        <% if(customer===true) { %>
                                                            
                                                            <a href="http://localhost:3000/user/addToCart/<%= action._id %>">
                                                                <i class="fas fa-regular fa-cart-shopping px-2"></i></a>
                                                            <% }else{ %>                                                                    
                                                                    <a href="http://localhost:3000/user/login">
                                                                        <i class="fas fa-regular fa-cart-shopping px-2"></i></a>
                                                                <% } %>  
                                                    </h4>
                                                    <p class="text-center">
                                                        <%= action.productName %>
                                                    </p>
                                                </div>
                                                <div class="card-read-more">
                                                    <a href="http://localhost:3000/user/productDetail/<%= action._id %>"
                                                        class="btn btn-link btn-block">
                                                        View Details
                                                    </a>
                                                </div>

                                            </div>

                                            <% }) %>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>





                    <%- include('../partials/footer.ejs') %>

                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                            crossorigin="anonymous"></script>
    </body>

</html>