<!DOCTYPE html>
<html lang="en">

<%- include('../partials/loginSignupHeader.ejs') %>

    <body>

        <%- include('../partials/userNavbar.ejs') %>


            <%- include('../partials/offcanvas.ejs') %>



                <section class="wrapper justify-content-center">
                   
                        <div class=" my-5">
                            <div class="d-flex justify-content-center">
                                <h1 class="heading my-5 mx-3">
                                    Choose your Merch
                                </h1>
                                <form action="/user/store" method="post">
                                    <div class="d-flex heading py-3 my-5 px-5">
                                        <input type="text" class="form-control me-2" placeholder="Search"
                                            name="searchinput" id="search-input" />
                                        <button type="submit" id="searchbtn" class="btn btn-primary btn-sm">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span>Search</span>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <h4 class="d-flex justify-content-center">
                                <%= text %> <%= searchvalue %>
                            </h4>
                        </div>

                        
                            <div class="container ">
                                <div class="row justify-content-center">
                                    <% products.forEach( product=> { %>

                                        <div class="card col-10 col-lg-3 my-5 mx-4">

                                            <a class="img-card"
                                                href="http://localhost:3000/user/productDetail/<%= product._id %>">
                                                <img src="<%= product.image[0].url %> " />
                                            </a>
                                            <div class="card-content text-center">
                                                <h4 class="card-title">
                                                    <a
                                                        href="#">
                                                        Rs.<%= product.cost %>
                                                    </a>
                                                    <i class="fa-regular fa-heart px-2"></i>
                                                    <% if(customer===true) { %>
                                                            
                                                        <a href="http://localhost:3000/user/addToCart/<%= product._id %>">
                                                            <i class="fas fa-regular fa-cart-shopping px-2"></i></a>
                                                        <% }else{ %>                                                                    
                                                                <a href="http://localhost:3000/user/login">
                                                                    <i class="fas fa-regular fa-cart-shopping px-2"></i></a>
                                                            <% } %>  
                                                </h4>
                                                <p class="text-center">
                                                    <%= product.productName %>
                                                </p>
                                                <p class="">
                                                    Category: <%= product.productCategory %>
                                                </p>
                                            </div>
                                            <div class="card-read-more">
                                                <a href="http://localhost:3000/user/productDetail/<%= product._id %>"
                                                    class="btn btn-link btn-block">
                                                    View Details
                                                </a>
                                            </div>

                                        </div>

                                        <% }) %>
                                          
                                </div>
                            </div>
                        
                            <%- include('../partials/pagination.ejs') %>


                            <%- include('../partials/footer.ejs') %>
                </section>

                


               

                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                            crossorigin="anonymous"></script>
    </body>

</html>